<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Admin Profile</h1>

    <form method="POST">
        <button type="submit" name="count_idf">Count idf</button>
        <button type="submit" name="count_recommendations">Count recommendations</button>

        <p>IDF time: {{ counting_idf_time }}</p>
        <p>recommendation time: {{ counting_recommendation_time }}</p>
    </form>
    <button onclick="window.location.href='/'">Go Back</button>
</body>
</html>